# The Red Reactor
#
# Red Reactor systemd service unit file
#
# Requires network access to connect to MQTT Broker
# Start-up error will exit and retry forever

[Unit]
Description=Red Reactor Service
After=network.target

# Restart if service fails but terminate retries if repeated start-up error
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
WorkingDirectory=/var/lib/redreactor/src/
User=redreactor
ExecStart=/var/lib/redreactor/.venv/bin/python /var/lib/redreactor/src/redreactor.py --config=/etc/redreactor/config.yaml

# Restart on failure after 5 seconds
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
